body{
    margin: 17px;
}
.vl {
    border-right: 3px solid;
    height: 1550px;
}
.head{
    text-align: center;
}
#sign{
    height: 70px;
    width: 300px;
}
#photo{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
span{
    margin-left: 8px;
}
